<% if flash[:notice] %>
    <div id="notice">
        <%= flash[:notice] %>
    </div>
<% end %>
<% if flash[:error] %>
    <div id="error">
        <%= flash[:error] %>
    </div>
<% end %>
<% if flash[:message] %>
    <div id="message">
        <%= flash[:message] %>
    </div>
<% end %>
