<%= render :partial => 'flash_notices' %>
<div id = "login_box" >
<img border="0" src="/images/speedlmslogo-small.png?1217330484" alt="Speedlmslogo-small"/>
<h1 class = "login">
	Please go to your SpeedLMS address to log in.
</h1>
<p class = "login">
	Every SpeedLMS account has a unique address that ends with following domain name:
</p>
<p class = "login">
	http://yoursite.
	<strong>
		speedlms.com
	</strong>
</p>
<p class = "login">
	Replace the "yoursite" part with the word(s) you chose when you signed up (it's likely your company name with no spaces). 
</p>
<div class = "back_to_home" >
	<p class = 'login'><%= link_to 'Back to the SpeedLMS home page', root_path %></p>
</div>
</div>

