<div align = "center" >
	<div id = "signup_container">
		<h2>
			Create your Owner account.
		</h2>
		<%= render :partial => 'form' %>
		<fieldset class = "signup">
			<h3 class = "align_center">
				<%= link_to 'Login',new_session_path %>
			</h3>
		</fieldset> 
	</div>
</div>
