*{
margin:0px;
}

body {
background-color:#D7D7D7;
	color:#222222;
	font-family:"Lucida Grande",verdana,arial,helvetica,sans-serif;
	margin: 0px;
	padding: 0px;
  font-size: 14px;
  font-variant: normal;
}

#header {
  background-image: 
  url('../images/topbluefade.gif');
  font-size:40px;
  font-weight:normal;
  background-repeat:#FFFFFF repeat-x;
  padding:0px;
 }
#header h1 {
  color:#FFCC00;
  font-size:40px;
  font-weight:normal;
  margin:0pt 0pt 0pt 30px;
  padding:0pt 0pt 10px;
  text-align:left;
}   

h2 {
  color:#333333;
  font-family:"Lucida Grande",arial,sans-serif;
  font-size:18px;
}

#header h3 {
  color:#ffffff;
  font-size:12px;
  font-weight:normal;
  margin:0pt;
  padding:7px 20px 7px 25px;
  text-align:left;
}

#header h3 span#top_right {
  float:right;
  position:relative;
  text-align:right;
} 

#header h3 a:link, #header h3 a:visited {
  color:#000000;
} 

#header h3 a:hover {
  background: #0000ff;
  color: #FFFFFF;
}

#content_main {
  margin: 0 2px 4px 4px; 
  float: left;
  padding: 0 1px 4px 0px;
}
#content_menu {
  margin: 5px 5px 5px 5px; 
  border-bottom: 3px solid #000000;
  border-right: 3px solid #000000;
  border-top: 3px solid #000000;
  border-left: 3px solid #000000;
  background: #999999;
  padding: 2px 2px 2px 2px;
  width: 400px;
  vertical-align: middle;
}

div.login {
	text-align: left;
	background-color:#F5F5F5;
}

#content_left {
  margin: 2px 5px 2px 8px;
  padding: 4px 0px 4px 10px; 
  float: left;
  width: 600px;
  border-bottom: 3px solid #999999;
  border-right: 3px solid #999999;
  background: #FFFFFF;  
}       

#clear {
  clear: both;
}

#main_footer {
  position: relative;
  clear: both;
  width: 1180px;
  padding: 20px;
}

#credential_login {
  margin: 1px;
  width: 320px;
}

#credential_openid {
  margin: 1px;
  width: 320px;
  display: none;
}

.fieldset_left {
  width: 150px;
  float: left;
  text-align: right;
}

.fieldset_right {
  width: 160px;
  float: right;
  margin-left: 0px;
}


#content_left h2 {
  color:#333333;
  font-family:"Lucida Grande",arial,sans-serif;
  font-size:18px;
  margin:20px 0pt 5px 0px;
  padding:0pt;
}

#content_left h3.align_left {
  color:#000000;
  font-size:12px;
  margin:0pt 0pt 3px;
  padding:0pt;
} 

h3 {
color:#000000;
font-size:12px;
margin:0pt 0pt 3px;
padding:0pt;
}                                                
 
fieldset.mar_bot {
  margin-bottom: 10px;
  background-color:#ffffff;
}

# background-color:#EDF3FE;

fieldset.signup {
  background-color:#FFFFFF;
}

.align_left {
  text-align: left;
}

.align_center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.normal {
  color:#222222;
  font-size:14px;
  line-height:1.6em;
  padding: 4px;	
}

#notice {
 color: #000000;  
  font-size:14px;
  font-family:"Lucida Grande",arial,sans-serif;
  font-weight: normal;
  line-height:1.3em;
  border: 1px solid #000000;
  padding: 3px 3px 3px 3px;
  margin: 5px 5pt 5px 5px;
  background: #ffffcc;
}

#error {
 color: #ff0033;  
  font-size:14px;
  font-family:"Lucida Grande",arial,sans-serif;
  font-weight: normal;
  line-height:1.3em;
  border: 1px solid #ff0033;
  padding: 3px 3px 3px 3px;
  margin: 5px 5pt 5px 5px;
  background: #f9bdbd;
}

#message {
  color: #009900;  
  font-size:14px;
  font-family:"Lucida Grande",arial,sans-serif;
  font-weight: normal;
  line-height:1.3em;
  border: 1px solid #009900;
  padding: 3px 3px 3px 3px;
  margin: 5px 5pt 5px 5px;
  background: #B5EAAA;
}

.container {
margin:0pt auto;
min-width:750px;
text-align:center;
}

#signup_container {
  background: #ffffff;
  width: 800px;
  margin: 0px;
  padding: 0px;
}

div#signup .fieldset_left {
  width: 150px;
  float: left;
  text-align: right;  
}

div#signup .fieldset_right {
  width: 160px;
  float: right;
  margin-left: 0px;
}

input.first {

  border : 1px solid Black;
  font-size: 12px;
  margin-top: 0px;
}

#errorExplanation {
		border: 1px solid #bbb;
  	line-height: 20px;
  	color: #000;
  	width: 350px;
  	overflow: hidden;
    margin: 2px;
    border :1px solid #ff0000;
    background: #FDF8EB;
    padding: 0px;
}

#errorExplanation h2 {
    background: #CC0000 url(../images/alertbad_icon.gif) no-repeat scroll left center;
  	font-weight: normal;
  	padding: 5px;
  	font-size: 14px;
  	border-bottom:1px solid #bbb;
        color:#fff;
}

#errorExplanation p {
  	margin-top:10px;
  	padding: 5px;
  	font-size: 14px;
}

#errorExplanation ul li {
  	font-size: 12px;
  	list-style: square;
  	margin: 2px;
  	text-align: left;
}

.error {
  margin: 20px 40px;
  padding:10px 20px 10px 50px;
  border: 1px solid;
  border-color: #ccc #aaa #aaa #ccc;
  background: #ffc url(/images/warning.gif) 10px 6px no-repeat;
  text-align: left;
  font-size: 8pt;
  line-height:1.1em;
  }

a {
	text-decoration: underline;
	}

.resetPwd{
	text-align: right;
	margin: 2pt 200pt;
}

.fields{
	float: left;
	width: 40%;
}
.containers{
	float: right;
	margin-right: 475pt;
}

#edit_user{
	background: #F8F8F8;
	padding: 13px 30px 13px 24px;
	margin: 0pt 441pt 5px 0px;
	font-weight: bold;
}


.labels{
	width: 40%;
	float: left;
}

.fields{
	width: 60%;
}

#links{
margin: -2pt 0pt -6pt 362pt;
}

#form {
	display: block;
}

label {
width: 20em;	
float: left;
text-align: left;
display: block;
margin-right: 0.5em;
}

input {
	color: #781351;
	border: 1px solid ;
}

#username_availability_message,
#subdomain_availability_message {
	width: 300px;
	background: #ffcc00 none repeat scroll 0%;
}

.small_text {
	font-size: 10px;
}

