<html>
	<head>
		<title>
			Welcome to Speed Learning Management System
		</title>
		<%= stylesheet_link_tag "unsecure.css" , :media => "all" %>
		<%= javascript_include_tag :defaults, :effects %>
	</head>
	<body>
		<div id = "main">
   		<%= render :partial => '/sessions/flash_notices'%>
     	<div id = "main_content">
       		<%= yield %>        
     	</div>   	
     	<div id = "main_footer">
     	</div>
   	</div>
	</body>
</html>
