<html>
<head>
    <title>Welcome to SpeedLMS</title>
	<%= stylesheet_link_tag "unsecure.css" , :media => "all" %>
	<%= javascript_include_tag :defaults %>
</head>
<body> 
    <div id = "header">
 		<% render :partial => 'top_right_menu', :object => @page %>
    	<h1>Welcome to SpeedLMS PUBLIC CSS</h1>
    </div>
	<div id = "main">
   		<% render :partial => 'flash_notices'%>
     	<div id = "main_content">
       		<%= yield %>        
     	</div>   	
     	<div id = "main_footer">
     	</div>
   	</div>
</body>
</html>     


